@import "tailwindcss";

/* 
.input {
  @apply bg-slate-800 border border-slate-700 rounded px-3 py-2 text-white focus:border-blue-500 outline-none;
} */

.input {
  background-color: #0f172a;
  border: 1px solid #1e293b;
  padding: 8px 10px;
  border-radius: 6px;
  color: white;
  outline: none;
}

.input:focus {
  border-color: #f97316;
}
